@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lumanosimo&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*Header*/
header {
    background-color:transparent; 
    color:black; 
    padding: 25px 0;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
    transition: background-color 0.5s ease; 
}

header.scrolled {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,150,150,0.510329131652661) 0%, rgba(21,85,170,1) 72%);
     padding: 15px 0;
}

.container {
    max-width: 1400px; 
    margin: 0 auto; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
   
}

.navbar {
    list-style: none;
    display: flex;
}

.nav-items {
    display: flex;
}

.nav-items li {
    margin: 0 20px;
    display: inline; 
}

.nav-items a {
    text-decoration: none;
    color: #fff; 
    font-size: 17px;
}
  .navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .navbar a:hover::after{
    width: 100%;
  }

/*//////////////////////////////////////////*/


/*LoginForma*/
.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px); 
    margin-top: 10px; 
}

.login{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    margin-top: 50px;
}

.login h1{
    font-size: 36px;
    text-align: center;
}

.login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.login .forgot{
    display: flex;
    font-size: 14.5px;
    margin: -10px 0 15px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.forgot a{
    color: black;
    text-decoration: none; 
    font-weight: bold; 
}

.forgot a:hover{
    text-decoration: underline;
}

.login .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: darkred;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.register-link p a:hover{
    text-decoration: underline;
}

/*/////////////////////////////////////////*/



/*Home Page*/



.slide-bar {
    width: 100%; 
    height: auto; 
    overflow: hidden; 
}

.slide-bar video {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}


.about-section {
    display: flex;
    align-items: center;
    padding: 20px 50px; 
    margin-top: 80px;
}

.about-image {
    flex-basis: 40%; 
    margin-right: 30px;
    margin-left: 100px;
    transition: 0.5s;
}

.about-image img {
    width: 100%; 
    height: 500px; 
    border-radius: 15px;
}

.about-content {
    flex-basis: 40%; 
    margin-left: 85px;
}

.about-content h1 {
    color: #000; 
    margin-bottom: 15px;
    font-family: "Lilita One", sans-serif;
}

.about-content p {
    color: #333; 
    
}


.stats-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 70px;
}

.stat-card {
    width: 200px;
    text-align: center;
    padding: 20px 50px;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 10px 16px 5px 0px rgba(0, 0, 0, 0.303);
}

.icon img {
    width: 75px;
    height: 75px;
}

.number {
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: "Lilita One", sans-serif;
}

.text {
    font-size: 18px;
    color: #333;
    font-family: "Lilita One", sans-serif;
}

/*PJESA KU SHIHET FOTO BASHK ME BUTONIN PER TERMINE*/

.newsletter{
    background:url(../images/dentalwallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Lilita One", sans-serif;
    margin-top: 80px;
    height: 300px;
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

/*pjesa e butonit */
.button-19{
  width: 200px;
  height: 50px;
  background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,150,150,0.510329131652661) 0%, rgba(21,85,170,1) 72%);
  border-radius: 15px;
  border-color: white;
  font-size: 20px;
  font-style: italic;
  color: white;
  font-family: 'Lumanosimo', cursive;
  font-family: "Lilita One", sans-serif;

}

.button-19:hover{
  background-color: #1CB0F6;
}

.container{
    position: relative;
}
.container .wrapper{
    width: 70vw;
    height: 80vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin: 5rem auto;
    overflow: hidden;
}
.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider1 15s ease-in-out infinite alternate;
}
.container #slider-img-1{
    background-image: url(../images/picture1.jpg);
    background-position: cover;
}
.container #slider-img-2{
    background-image: url(../images/picture2.png);
    background-position: center;
}
.container #slider-img-3{
    background-image: url(../images/picture3.png);
    background-position: center;
}
.container #slider-img-4{
    background-image: url(../images/picture4.png);
    background-position: center;
}

.container .wrapper-holder > div{
    background-size: cover;
    background-position: center; 
    height: 100%; 
    width: 100%; 
}
@keyframes slider1{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}

.header-section {
    text-align: center;
    color: darkblue; 
    font-family: "Lilita One", sans-serif;
    margin-top: 60px;
    margin-bottom: -20px;
}

.header-section h1 {
    font-size: 32px; 
    margin: 20px 0; 
}

.header-section p {
    font-size: 24px; 
    margin-bottom: 20px; 
    
}
/*/////////////////////////////////////////////////////////////*/

/*ABOUT US*/

.rrethnesh{
    padding-top: 150px;
}


.rrethnesh .title{
    text-align: center;
}

.title h4{
    display: inline-block;
    padding: 20px;
    color: #585757;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    font-family: "Lilita One", sans-serif;
}

.rrethnesh .card_Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card_Container .card{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
                inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .imbBx, .imbBx img{
    width: 100%;
    height: 100%;
}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
}

.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
    opacity: 1;
    transform: translateY(0);
}

.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a{
    color: #fff;
    font-size: 24px;
}

/*/////////////////////////////////////////////////////////////*/

/*Before&After*/

.texti{
    padding-top: 60px;
    margin-left: 35px;
    text-align: center;
    padding-bottom: 50px;
}

.texti h4{
    font-family: "Lilita One", sans-serif;
    color: darkblue;
}

/*BeforeAfter headeri diqka*/

.slide-bar .img {
    height: 100vh;
    background-image: url("../images/sllajder1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: slider 30s infinite;
}

.slide-bar .fjala{
    text-align: center;
    width: 800px;
    font-size: 65px;
    color: #f7f7f7; 
    padding: 20px 50px;
    font-family: "Bebas Neue", sans-serif;
 
    
}

.diviboss{
    padding-top: 320px;
    padding-left: 370px;
    
}

.containera {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    padding: 40px;
    align-items: center;
    margin-left: 160px;
}

.containera h1 {
    font-size: 48px;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
}

.containera p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.containera ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.containera ul li {
    font-size: 18px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 10px;
    margin-left: 400px;
   
}

.containera ul li::before{ 
    content: '•'; 
}

.appointment-section {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,150,150,0.510329131652661) 0%, rgba(21,85,170,0.6896008403361344) 95%);
    text-align: center;
    padding: 20px;
    width: 100%;

}

.appointment-section h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.appointment-section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.image-box {
  width: 48%; 
  margin: 1%;
  box-sizing: border-box;
}

.image-box img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Stili për modalin */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes slider {
    0% {
        background-image: url("../images/sllajder1.jpg");
    }
    25% {
        background-image: url("../images/sllajder2.jpg");
    }
    50% {
        background-image: url("../images/sllajder3.jpg");
    }
    75% {
        background-image: url("../images/sllajder4.jpg");
    }
    100% {
        background-image: url("../images/sllajder5.jpg"); 
    }
}

/*Before after fotot e njerzve*/

.beforeafter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .image-box img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, outline 0.2s; 
    outline: 3px solid transparent; 
    outline-offset: -3px; 
  }
  
  .image-box img:hover {
    outline-color: darkblue; 
  }

  /* Stili për modalin */
  .modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
    padding-top: 130px;
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px; 
}
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

/*/////////////////////////////////////////////////////////////*/

/*SERVICES*/


.container-services {
    display: flex;
    background-color: #B0C4DE;
    padding: 0 100px;
    height: 100vh;

}

.services {
    width: 50%;
    display: flex;
    height: 85vh;
    padding-top: 170px;
}

.services .card {
    flex: 1;
    border-radius: 100px;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 500ms cubic-bezier(.14,.69,.93,1);
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}

.services .card:hover {
    flex-basis: 35vw;
}

.text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.text-section h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: left;
    font-family: "Lilita One", sans-serif;
    color: white;
}

.text-section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: white;
}


/*/////////////////////////////////////////////*/
/*Slideri te services*/

.slider-title {
    text-align: center;
    margin: 20px 0;
    font-size: 30px; 
    color: #333; 
    font-family: "Lilita One", sans-serif;
}


.slider{
    padding-top:100px;
    
}

.slider{width: 100%}
.slider input{display: none;}
.testimonials{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;
    
}
.testimonials .item img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    
}



.testimonials .item{
	width: 300px;
	padding: 30px;
	border-radius: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,150,150,0.510329131652661) 0%, rgba(21,85,170,1) 72%);
	position: absolute;
	border:3px solid white;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}
.testimonials .item h1{font-size: 114px; color: white;}
.dots{display: flex; justify-content: center;align-items: center;}
.dots label{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"]{
	transform: scale(2);
	background-color: #fff;
	box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
	transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"]{
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"]{
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"]{
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"]{
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
	
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"]{
	
	z-index: 4;
}

/*GAZETA*/

.gazeta {
    background: url(../images/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Lilita One", sans-serif;
    margin-top: 80px;
    height: 500px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.gazeta .content {
    display: flex;
    width: 80%;
    height: 100%;
}

.gazeta .text-side, .gazeta .video-side {
    flex: 1; 
    padding: 20px;
    color: #fff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.gazeta .text-side h3 {
    font-size: 2.2rem;
    padding-bottom: .7rem;
    font-weight: normal;
    color: black;
}

.gazeta .text-side p {
    font-size: 1.2rem;
    color: #000;
}


/*PJESA E SERVICES MI TREGU - CARDS*/

.wrapperi{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}
.wrapperi h1{
    font-size: 3em;
    font-family: "Lilita One", sans-serif;
    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.carda{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.carda i{
    margin: 20px;
    color: darkblue;
}
.carda h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    font-family: "Anton", sans-serif;
}
.carda p{
    color: #6c757d;
    text-align: center;
    font-family: "Averia Serif Libre", serif;
}
.carda:hover i,
.carda:hover p{
    color: #fff;
}
.carda:hover h2{
    color: white;
}
.carda:nth-child(1):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                   url(../images/zbardhimcard.jpg);
                                    background-size: cover;
}
.carda:nth-child(2):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                   url(../images/rentgen.jpg);
                                    background-size: cover;
}
.carda:nth-child(3):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                   url(../images/dentalcrown.jpg);
                                    background-size: cover;
}
.carda:nth-child(4):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                   url(../images/pediatric.jpg);
                                    background-size: cover;
}
.carda:nth-child(5):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                   url(../images/laser.jpg);
                                    background-size: cover;
}
.carda:nth-child(6):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                   url(../images/dentalimplant.jpg);
                                    background-size: cover;
}

/*PJESA E FUNDIT TEK SERVICES*/

.smile-container {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.p-nalt{
    margin-top: -45px;
    font-size: 20px;
}

.smile-container h1 {
    color: #333;
    font-family: "Lilita One", sans-serif;
}

.smile-container p {
    padding-top: 60px;
    font-family: "Averia Serif Libre", serif;
}

.smile-steps {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.smile-step {
    width: 30%;
    position: relative;
}

.step-number {
    position: absolute;
    top: 335px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkblue;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Averia Serif Libre", serif;
}

.smile-step img {
    width: 100%;
    height: auto;
}

#butoni1{
    margin-top: 30px;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*CONTACT US*/


.contact{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    padding-top: 150px;
  }
  
  .contact:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*background: url("img/bg.jpg") no-repeat center;*/
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }
  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  /*.left{
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
  }*/
  
  .right{
    padding: 25px 40px;
  }
  
  .contact h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
 .contact h2:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: #2ecc71;
  }
  
  .contact .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    border-radius: 10px;
  }
  
  .contact .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .contact textarea{
    min-height: 150px;
  }
  
  .contact .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: blue;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
  }
  
  .contact .btn:hover{
      background-color: #27ae60;
  }
  
  .contact .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
  }

/*///////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////*/

/*Footer*/

footer{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,150,150,0.510329131652661) 0%, rgba(21,85,170,1) 72%);
    height: auto;
    width: 100%;
    color: #fff;
    margin-top: 0;
    flex-shrink: 0;
    z-index: 1;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 70px;
   }

.footer-content p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    }

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.socials li{
    margin: 0 15px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 20px
}

/*Forma per kontaktin */

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    width: 100%;
}

.contactus-form {
    width: 60%;
    margin: 0 100px;
}

.contactus-form h1 {
    text-align: center;
    margin-bottom: 25px;
}

.contactus-form div {
    margin-bottom: 15px;
}

.contactus-form input,
.contactus-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gainsboro;
}

.contactus-form .btn{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: rgb(47, 46, 46);
    color: white;
    cursor: pointer;
}

.image-contact {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image-contact img {
    width: 100%;
    height: 100%;
    max-height: 800px;
    object-fit: cover;
}
